.projet_slayer{
    padding: 16px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    
}
.projet_slayer img{
    width: 100%;
    cursor: pointer;
}

.separation{
    width: 90%;
    height: 2px;
    background:$secondary-color;
    margin: 40px 5%;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 8px;
    background-color: black;
    border: 2px solid $secondary-color;
  }

p{
    color: white;
    margin-left: 50px;
    margin-bottom: 25px;
    font-size: 20px;
}

li li{
    list-style: none;
    color: white;
    margin-left: 120px;
    margin-bottom: 20px;
    font-size: 20px;

    &::before {
        content: "\2022";
        color:$secondary-color;
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
      }
}
@media (max-width: 991px) {
    
    .projet_slayer {
        grid-template-columns: repeat(1,1fr);
    }
    h4 {
        font-size: 20px;
    }

    li li{
       
        margin-left: 25px;
        font-size: 15px;
    }

    p{
       
        margin-left: 20px;
        margin-bottom: 25px;
        font-size: 15px;
    }
}
 