footer{

    background-color: $primary-color;
    height: 50px;
    width: 100%;
    position:relative;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
  }

  .footerTexte{
    font-size: 15px;
    display: flex;
    height: 5vh;
    margin: auto;
    color: $secondary-color;
  }